html, body {
    height: 100%;
    width: 100%;
    color: #dadee6;
    font-family: 'Montserrat', 'sans-serif';
    margin: 0;
    overflow: hidden;
}

a {
	color: #dadee6;
	text-decoration: none;
	font-size: 14px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#sidebar {
	// display: none;
	background: #2e2f33;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -370px;
	width: 370px;
	min-height: 100%;
	z-index: 999;
	overflow: hidden;
	transition: all 0.3s ease;
	
	/*List Open*/
	/*width: 360px;*/
	
	/*Full Open*/
	// width: 400px;
}

// #sidebar > div {
// 	position: absolute;
// }

#sidebar > div {
	// position: relative;
}

.panel {
	// min-height: 90%;
	position: absolute;
	top: 50px; //With search bar
	top: 0;
	bottom: 0;
	border-top: 1px solid #26272b;
}

.searchBar {
	margin: 10px 0;
	display: none;
	input {
		border: 1px solid #58595c;
		color: #dadee6;
		border-radius: 3px;
		outline: 0;
		background: #2e2f33;
		font-size: 12px;
		width: 360px;
		margin: 0 auto;
		display: block;
		box-sizing: border-box;
		padding: 6px 8px;
	}
}

#categories {
	min-height: 100%;
	width: 370px;
	box-sizing: border-box;
	background: #2e2f33;
}

// .listOpen #sidebar #categories {
// 	width: 50px;
// }



#categories ul {
	list-style: none;
	padding: 0;
	margin: 0;
	// margin-top: 50px;
}

#categories li {
	// height: 50px;
	// padding: 10px 10px 10px 50px;
	// border-top: 1px solid #26272b;
	// background: url('../images/category-icon.png') 15px center  no-repeat;
	position: relative;
	border-bottom: 1px solid #26272b;
	a.openList {
		// height: 50px;
		display: block;
		padding: 6px 10px 6px 12px;
		i {
			font-size: 28px;
			vertical-align: middle;
			line-height: 30px;
			margin-right: 10px;
			color: #2496ef;
			&.fa {
				margin-right: 14px;
			}
		}
		
	}
	span {
		// display: inline-block;
		color: #5f6165;
		font-size: 11px;
		margin-left: 6px;
		vertical-align: middle;
	}

	a.visible {
		position: absolute;
		top: 0;
		right: 0;
		border-left: 1px solid #26272b;
		width: 42px;
		height: 42px;
		text-indent: 0;
		padding-left: 11px;
		line-height: 42px;
	}

	&:last-child {
		// border-bottom: 1px solid #26272b;
	}

	&.active {
		// background: #2e2f33;
		a.openList {
			color: #2e2f33;
			i {
				color: #2e2f33;
			}
			span {
				color: #2e2f33;
			}
		}
	}

}

#categories a.aboutUs {
		position: absolute;
		bottom: 0;
		display: block;
		border-top: 1px solid #26272b;
		padding: 6px 10px 6px 12px;
		width: 100%;
		i {
			font-size: 28px;
			vertical-align: middle;
			line-height: 30px;
			margin-right: 10px;
			color: #979799;
			&.fa {
				margin-right: 14px;
			}
		}
}


$listWidth: 320px;
$filterWidth: 40px;

#list {
	// display: none;
	// background: #2e2f33;
	position: absolute;
	top: 0;
	left: 50px; //On Open
	left: 501px; //Not show
	min-height: 100%;
	box-sizing: border-box;
	// padding: 0 10px;
	width: $listWidth;
	// box-shadow: inset 4px 1px 9px -6px black;
	transition: all 0.2s ease-in;

	&.openList {
		left: 50px;
	}

	.items {
		position: absolute;
		position: absolute;
		top: 0;
		bottom: 0;
		// right: 40px;
		left: 0;
		width: 280px;
		& > div {
			position: absolute;
			top: 0;
			left: 0;
			width: 280px;
			bottom: 0;
			background: #2e2f33;
			box-shadow: inset 4px 1px 9px -6px black;
			transition: all 0.3s ease-in;
		}
	}

	.results {
		height: 41px;
		border-bottom: 1px solid #26272b;
		font-size: 11px;
		line-height: 41px;
		padding-left: 20px;
		width: $listWidth - $filterWidth;
		span {
			font-weight: 700;
		}
	}

	ul {
		// padding: 0 20px;
		width: $listWidth - $filterWidth;
		position: absolute;
		overflow: scroll;
		bottom: 0;
		top: 41px;
	}
	ul.styleThumb{
		// top: 42px;
		right: -$listWidth;
		transition: all 0.3s ease-in;
		background: #2e2f33;
		&.active {
			right: 0;
		}
	}


	ul.styleList {
		
		li {
			// padding: 2px 0;
			a {
				padding: 4px 20px;
				display: block;
				&:hover {
					background: #26272b;
				}
			}
			
		}
	}

	ul.styleThumb {
		li {
			float: left;
			border-right: 1px solid #26272b;
			border-bottom: 1px solid #26272b;
		}
	}
}

#filters {
	width: $filterWidth;
	position: absolute;
	top: 0;
	right: 0;
	min-height: 100%;
	border-left: 1px solid #26272b;
	background: #2e2f33;
	box-sizing: border-box;
	transition: all 0.2s ease-in;

	&:hover {
		width: 140px;
		background: #2c2d30;
	}

	ul {
		// margin-top: 50px;
		// width: 40px;
		top: 12px;
		width: 150px;

		li {
			a {
				font-size: 12px;
				color: #979799;
				padding: 6px 15px;
				display: block;
				i {
					margin-right: 12px;
				}


				&:hover {
					background: #26272b;
				}

				&.active {
					color: #2496ef;
				}

			}
		}

	}
}


.startupView {
	// display: none;
	background: #fff;
	position: absolute;
	top: 0;
	left:  0px; //Show
	left: 370px;
	min-height: 100%;
	width: 370px;
	box-sizing: border-box;
	box-shadow: 0px 2px 6px 0px black;
	transition: all 0.2s ease-in;

	&.active {
		left: 0px;
	}

	.close {
		position: absolute;
		color: white;
		top: 0;
		left: 0;
		padding: 5px;
	}

	& > div {
		border-bottom: 1px solid #ededed;
		padding: 10px 20px;
	}

	.photoSlider {
		padding: 0;
	}

	.info {
		img {
			float: left;
		}

		h2, h3 {
			margin: 0 0 0 90px;
		}
		h2 {
			color: #011819;
			font-size: 20px;
			font-weight: 700;
		}
		h3 {
			color: #808080;
			font-size: 16px;
			font-weight: 400;
		}
	}

	.location {
		padding: 5px 20px;
		font-size: 11px;
		color: #999999;
		i {
			margin-right: 10px;
			
		}
	}

	.description {
		p {
			color: #999999;
			font-size: 12px;
		}
	}

}

#categories {
	li.list-all{
		a i {
			color: #51d686;
		}
		&.active {
			background: #51d686;
		}
	}


	li.list-startups{
		a i {
			color: #3590E9;
		}
		&.active {
			background: #3590E9;
		}
	}

	li.list-coworking{
		a i {
			color: #805CBE;
		}
		&.active {
			background: #805CBE;
		}
	}

	li.list-investors{
		a i {
			color: #C43BAE;
		}
		&.active {
			background: #C43BAE;
		}
	}

	li.list-incubators{
		a i {
			color: #D44C6E;
		}
		&.active {
			background: #D44C6E;
		}
	}

	li.list-accelerators{
		a i {
			color: #E8AB50;
		}
		&.active {
			background: #E8AB50;
		}
	}
}


#userControl {
	position: absolute;
	top: 16px;
	right: 10px;
	z-index: 9999;
	a {
		color: #2496EF;
	}
}

#userSidebar {
	// display: none;
	background: #fafafa;
	position: absolute;
	top: 0;
	bottom: 0;
	right: -370px;
	// right: 0;
	width: 370px;
	min-height: 100%;
	z-index: 999;
	overflow: hidden;
	transition: all 0.3s ease;
	color: #5f6165;
	/*List Open*/
	/*width: 360px;*/
	
	/*Full Open*/
	// width: 400px;
	box-shadow: inset 4px 1px 9px -6px black;
	a {
		color: #2e2f33;
	}

	#login {
		position: absolute;
		left: 0;
		width: 370px;
		top: 0;
		bottom: 0;
		background: #fafafa;
		box-shadow: inset 4px 1px 9px -6px black;



		form {
			position: absolute;
			top: 50%;
			margin-top: -117px;
			width: 100%;
		}
		p {
			width: 80%;
			margin: 0 auto;
			box-sizing: border-box;
			text-align: center;
			& > * {
				width: 100%;
				padding: 8px 14px;
			}
		}
		a.linkedin {
			display: block;
			background: #4875B4;
			font-size: 16px;
			color: #fafafa;
			border-radius: 5px;
			i {
				margin-right: 10px;
			}
		}

		input {
			width: 100%;
			
			box-sizing: border-box;
			color: #9fa3a2;
			font-size: 16px;
			border-width: 2px;
			margin-bottom: 20px;
			
			border-color: rgb( 235, 247, 248 );
			border-style: solid;
			border-radius: 5px;
		}

		input:focus, textarea:focus {
			border-color: #2496EF;
			outline: none;
		}

		p.submit a {
			background: #2496EF;
			color: #fafafa;
			width: 100%;
			display: block;
			border-radius: 5px;
		}

		hr {
			width: 80%;
			margin: 20px auto;
			&:before {
				content: "or";
				text-align: center;
				background: #fafafa;
				display: block;
				width: 36px;
				font-size: 12px;
				margin: 0 auto;
				margin-top: -9px;
			}
		}
	}

	#addStartup {
		
	}

}



